@media screen and (max-width: 1024px) {
    header {
        height: 5em;
        align-items: center;
        padding-top: 0.5em;
    }
    .github {
        margin: 1em 0;
    }
    .botones {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media screen and (max-width: 768px) {
    header nav .presentacion{
        display: none;
    }
    #banner {
        height: auto;
    }
    .tituloPrincipal{
        font-size: 0.8em;
    }
    .bajada{
        font-size: 0.6em;
    }
    .contenedorTextoBanner > div {
        margin: 1em 0;
    }
    #about {
        height: 100vh;
    }
    #skills {
        height: auto;
        width: 70%;
        margin-left: 15%;
    }
    .containerSkillsIt, .containerSkillsLive h1 {
        margin: 0.5em;
        padding-bottom: 1em;
    }
    .cardSkill, .cardSkillLive, .cardFormacion {
        margin: 1em 0;
    }
    #formacion {
        height: auto;
        padding: 1em 0 1em 0;
    }
}
@media screen and (max-width: 576px) {
    /* navegacion */
    header {
        height: auto;
    }
    .menu { 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between; 
        align-items: center; 
    } 
    .toggle { order: 1; } 

    .item.button { order: 2; } 

    .item { 
        width: 100%; 
        text-align: center; 
        order: 3; display: none; 
    } 
    .item.active { display: block; }

    nav .mail{
        margin-top: 1em;
    }

    nav {
        display: flex;
        height: auto;
        margin: 1em 0;
        padding-bottom: 1em;
        justify-content: center;
        align-items: center;
    }
    nav .links {
        width: 100%;
        margin: 0 auto;
    }
    #banner {
        flex-direction: column;
    }
    .foto {
        width: 50%;
        margin-left: 15%;
    }
    .tituloPrincipal h1 {
        font-size: 2.5em;
        font-weight: bold;
    }
    .bajada h2 {
        font-size: 2em;
        font-style: italic;
    }
    .vinculosBanner {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        padding: 0.5em;
    }
    .vinculosBanner li {
        margin: 0.5em 0;
    }
    #about {
        height: auto;
    }
    .sobreMi {
        height: 100%;
    }
    .textoAbout {
        flex-direction: column;
        height: auto;
        padding-bottom: 1em;
    }
    .textoAbout p{
        margin: 10px 0;
    }
    .img {
        width: 100%;
    }
    .cardProject {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .cardProjectIzq {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: flex-start;
    }
    .cardProjectIzq .img {
        margin-left: 0;
        width: 80%;    
    }
    .cardProject .img {
        margin-left: 0;
        width: 80%;
    }
    #contacto {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 2em auto;
    }
    .imgContacto {
        width: 100%;
    }
    #form {
        width: 100%;
    }
    .encabezado p {
        width: 90%;

    }

}
